body,html{padding:0;margin:0;width:100%;height:100%;}
*{box-sizing:border-box;}
body{background-image:url("img/bg.jpg");background-position:center;background-repeat:no-repeat;background-attachment:fixed;background-size:cover;}
.flexCenter{width:100%;height:100%;display:flex;align-items:center;justify-content:center;}
.header,.italic{font-family: 'Baloo Bhaijaan 2', cursive;margin:0;color:white;}
.italic{font-style:italic;}
.calcContainer{background-color:rgba(0, 0, 0, 0.5);backdrop-filter:blur(5px);padding:24px;-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);}
/* grid for inputs */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 3; }

.result, #bmiButton, #changeModeButton {margin:0 0 8px 0;font-family: 'Baloo Bhaijaan 2', cursive; color:white;}

.parent > * > input, .parent > * > button, .result, #bmiButton, #changeModeButton {
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
    border:none;
    width:100%;
    height:100%;
    padding:8px;
}

.treeHolder{position:relative;z-index:-5;}

.treeHolder img {
    width:auto;
    height:420px;
    position:absolute;
    filter: drop-shadow(0px 0px 25px rgba(0,0,0,0.52));
    -webkit-filter: drop-shadow(0px 0px 25px rgba(0,0,0,0.52));
    -moz-filter: drop-shadow(0px 0px 25px rgba(0,0,0,0.52));
}

.tree1 img {
    margin: -210px 0px 0px -138px;
}

.tree2 img {
    margin: -210px 0px 0px -138px;
}

.div3 > button:hover, #bmiButton:hover, #changeModeButton:hover {
    cursor: pointer;
}

@media only screen and (max-width: 790px) {
    .treeHolder img {
        width:auto;
        height:560px;
    }
    .tree1 img {
        margin: -300px 0px 0px 45px;
    }
    .tree2 img {
        display: none;
    }
}

@media only screen and (max-width: 470px) {
    .treeHolder img {
        display:none;
    }
}